

.root{
	-fx-background-radius: 0;
	-fx-background-color: #3e3e3e;
	-fx-font-size:14pt;
	-fx-text-fill:black;
}

.textfield{
	-fx-background-color:#919191;
	-fx-text-fill:#F8F8F8;
	-fx-background-radius: 0;
	
}

.botton{
	
	-fx-background-radius: 0;
	-fx-background-color:#d0d0d0;
}

.button-gray{
	-fx-background-color:#B8B8B8;
	-fx-background-radius: 0;
	-fx-text-fill:#F8F8F8;
	
}

.button-orange{
	-fx-background-color:#f88e15;
	-fx-background-radius: 0;
	-fx-text-fill:#F8F8F8;
	-fx-font-size:15pt;
}


